{% extends 'layout.html' %}
{% load static %}

{% block body %}


<div class="container mt-4">
    <h5 style="text-align:right;">Phone Number  +8801315907708 </h5>
</div>

<div>
    <img src="{% static 'images/pic3.png' %}" class="img-fluid" alt="My_Photo">
</div>

<div class="container mt-5">
    
    <h2> <p> <b>STUDENT HALL</b</P> </h2><hr/>
    <h3> <p> →Safe & Secure </p></h3>
    <h3> <p> →Cost-Effective Living Option </p></h3>
    <h3> <p> →Fully Furnished Rooms </p></h3>
    <h3> <p> →Broadband & Wifi </p></h3>
    <h3> <p> →Housekeeping </p></h3>
    <h3> <p> →In Campus </p></h3>
    <h3> <p> →Medical Facility </p></h3>
    
</div>



{% endblock %}